@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Poppins', serif;
}


nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    color: rgb(85, 85, 85);
}

.header .container .small-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.header .container{
     background-color: black;
  
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 30%;
    min-width: 300px;
}
.col-2 img{
   max-width: 100%;
   padding: 50px 0;
   filter: drop-shadow(11px 11px 11px #b4b4b4);
   
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Julius Sans One', sans-serif;

}

.col-2 p{
    font-size: 14px;
    font-family: 'Poppins', serif;
}

.btn{
    display: inline-block;
    background: #cc6d6d;
    border-radius: 10px;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-duration: 0.5s;
    font-family: 'Poppins', serif;
}

.btn:hover{
    background: #c45858;
    transform: translateY(-3px);
    filter: drop-shadow(3px 3px 3px#555);
}

.categories{
    margin: 70px 0;
    background: radial-gradient(#dfb4b4, #d48888, #ca6868);
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;   
}
.col-3 img{
    border-radius: 10px;
    width: 100%;
}

.categories .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000;
}
.title::after{
    content: '';
    background:#c45858;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.categories{
    position: relative;
    text-align: center;
    color: white;
}

.offer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-container{
    max-width:  1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px; 
    min-width: 200px; 
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%;
    border-radius: 8px;
}

.maincontainer{
    position: relative;
}

.thecard{
    position: absolute;
    transform-style: preserve-3d;
    width: 0%;
    height: 50%;
    transition: all 1s ease;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 0%;
    height: 0%;
    backface-visibility: hidden;
}

.theback{
    position: absolute;
    width: 0%;
    height: 0%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
 